<div>
    <div>

        <div ng-controller="LoginCtrl">
            <nav id="jheader"  class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#"><img src="images/logos/transparent-beta-resize.png" style="padding-right: 5em"></a>
                </div>
                <div class="collapse navbar-collapse" uib-collapse="isNavCollapsed">
                    <ul class="nav navbar-nav">
                        <li><a href="#!/user/homepage">{{ 'baseLayout.header.links.learn'| translate }}</a></li>
                        <li><a show-logged-in href="#!/user/create/lessons">{{ 'baseLayout.header.links.create'| translate }} </a>
                           <!-- &lt;!&ndash;  tabindex = 0 is use to fix focus trigger problem in google chrome &ndash;&gt;-->
                            <a show-anonymous popover-placement="bottom" popover-trigger="focus" popover="{{'createNotAvailable' | translate}}" tabindex="0">{{
                                'baseLayout.header.links.create'| translate }} </a></li>
                        <li ng-repeat="item in ['Parents','Teachers']">
                            <a href="#!/user/{{item}}">{{ 'baseLayout.header.links.' + item.toLowerCase() | translate }}</a>
                        </li>
                        <li>
                            <a href="#!/public/contribute">{{ 'baseLayout.header.links.contribute'| translate }} </a>
                        </li>
                        <!-- <li class="dropdown" dropdown> -->
                    </ul>
                    <!--<form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>-->

                    <form class="navbar-form navbar-left" role="search">
                    <div ui-keypress="{enter: 'searchOnHomepage()'}">
                        <input ng-class="{'search-color' : baseLayout.filterTextSearch.length > 0 }" placeholder="{{'baseLayout.header.searchPlaceholder' | translate  }}" ng-model="baseLayout.filterTextSearch" />
                        <button ng-click="searchOnHomepage()" class="btn btn-default">
                            <i class="icon-search"  tooltip="{{'homepage.tooltip.searchWord' | translate}}" tooltip-placement="right"></i>
                        </button>
                        <a style="text-decoration: none;" href="#!/user/homepage" class="btn btn-link">
                            <span class="cancel-search"  tooltip="{{'homepage.tooltip.searchReset' | translate}}" tooltip-placement="right">X</span>
                        </a>
                    </div>
                    </form>



                    <ul class="nav navbar-nav navbar-left">
                        <li class="btn-group" uib-dropdown is-open="status.isopen">
                            <a href="#" class="class="btn btn-basic" uib-dropdown-toggle ng-disabled="disabled">Language <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li> <select ng-model="baseLayout.language" ng-options="lang.id as ( 'general.translationLanguage.' + lang.id | translate ) for lang in baseLayout.lergoLanguages" tooltip="{{'baseLayout.header.siteLanguage' | translate}}" tooltip-placement="right"></select></a>
                                </li>
                                <!--<li><a href="#">Hebrew</a>
                                </li>
                                <li><a href="#">Arabic</a>
                                <li><a href="#">Russian</a>
                                </li>-->
                            </ul>
                        </li>
                            <li><a href="#">Sign-up</a>
                        </li>
                        <li><a href="#">Log-in</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
	<!--<div id="wrapper" class="clearfix">
		<div id="header" class="not-embed-mode-item" ng-controller="LoginCtrl">
			<div class="centered-content">
				<div class="header-main">
					<div class="header-logo">
						<a href="#!/user/homepage">
							<i class="logo-beta"></i>
						</a>
					</div>
                    <div class="header-navigation">
					    <div class="header-links">
						<ul>
							<li>
								<a href="#!/user/homepage">{{ 'baseLayout.header.links.learn'| translate }} </a>
							</li>
							<li>
								<a show-logged-in href="#!/user/create/lessons">{{ 'baseLayout.header.links.create'| translate }} </a>
								&lt;!&ndash;  tabindex = 0 is use to fix focus trigger problem in google chrome &ndash;&gt;
								<a show-anonymous popover-placement="bottom" popover-trigger="focus" popover="{{'createNotAvailable' | translate}}" tabindex="0">{{
									'baseLayout.header.links.create'| translate }} </a>
							</li>
							<li ng-repeat="item in ['Parents','Teachers']">
								<a href="#!/user/{{item}}">{{ 'baseLayout.header.links.' + item.toLowerCase() | translate }}</a>
							</li>
							<li>
								<a href="#!/public/contribute">{{ 'baseLayout.header.links.contribute'| translate }} </a>
							</li>
						</ul>
					</div>
					    <div class="header-search" ui-keypress="{enter: 'searchOnHomepage()'}">
						&lt;!&ndash;<div text-filter placeholder="{{'baseLayout.header.searchPlaceholder' | translate  }}" items="typeaheadItems" model="filterTextSearch"
							on-select="doSearchFromTypeahead($item,$model,$label)"></div>&ndash;&gt;
						<input ng-class="{'search-color' : baseLayout.filterTextSearch.length > 0 }" placeholder="{{'baseLayout.header.searchPlaceholder' | translate  }}" ng-model="baseLayout.filterTextSearch" />
						<button ng-click="searchOnHomepage()" class="btn btn-link">
							<i class="icon-search"  tooltip="{{'homepage.tooltip.searchWord' | translate}}" tooltip-placement="right"></i>
						</button>
                            <a style="text-decoration: none;" href="#!/user/homepage" class="btn btn-link">
                                <span class="cancel-search"  tooltip="{{'homepage.tooltip.searchReset' | translate}}" tooltip-placement="right">X</span>
                            </a>
					</div>
                    </div>&lt;!&ndash;&ndash;&gt;
                    <div class="header-actions">
                        <div profile-login-button="$root.user"></div> &lt;!&ndash; NOTE: referencing $root.user to fix bug where username displayed is the username we manage. &ndash;&gt;

                        <div class="header-language">
                            <i class="fa fa-globe fa-fw"></i>

                            <select ng-model="baseLayout.language" ng-options="lang.id as ( 'general.translationLanguage.' + lang.id | translate ) for lang in baseLayout.lergoLanguages" tooltip="{{'baseLayout.header.siteLanguage' | translate}}" tooltip-placement="right"></select>
                        </div>
                    </div>
				</div>
			</div>
		</div>-->
		<div id="content" class="centered-content clearfix" ng-transclude=""></div>
		<div class="push"></div>
	</div>
	<div id="footer" class="not-embed-mode-item">
		<div class="centered-content">
			<div class="footer-text">
				{{'baseLayout.footer.text1' | translate }}
				<a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">{{'baseLayout.footer.text2' | translate }};</a>
				{{'baseLayout.footer.text3' | translate }}
				<a href="#!/public/terms">{{'baseLayout.footer.text4' | translate }}.</a>
				{{'baseLayout.footer.text5' | translate }}.
			</div>
			<div>
				<div class="footer-links">
					<div class=row>
						<ul>
							<li>
								<a href="#!/public/terms">{{'baseLayout.footer.privacyAndTerms' | translate }}</a>
							</li>
							<li>
								<a href="#!/public/about/overview">{{'baseLayout.footer.about' | translate }}</a>
							</li>
							<li>
								<a href="#!/user/homepage"> {{'baseLayout.footer.homepage' | translate }}</a>
							</li>
							<li>
								<a href="#!/public/contact">{{'baseLayout.footer.contact' | translate }}</a>
							</li>
							<li admin-section="misc.userCanSeeKitchenSink">
								<a href="#!/public/kitchenSink">{{'baseLayout.footer.kitchenSink' | translate}}</a>
							</li>
						</ul>
					</div>
					<div class="row">
						<ul>
							<li>
								<a class="weight12" href="#!/public/feedback">{{'baseLayout.footer.feedback' | translate}}</a>
							</li>
							<li>
								<a class="weight12" href="#!/public/suggest">{{'baseLayout.footer.suggest' | translate}}</a>
							</li>
							<li>
								<a class="weight12" href="#!/public/problem">{{'baseLayout.footer.problem' | translate}}</a>
							</li>
							<li>
								<a class="weight12" href="#!/public/abuse">{{'baseLayout.footer.abuse' | translate}}</a>
							</li>
						</ul>
						<div class="copyrights">
							<div>&copy; {{'baseLayout.footer.copyright' | translate}}</div>
							<div>{{'baseLayout.footer.copyrightMsg' | translate}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
