<div  class="base-layout" load-filter-and-paging="loadLessons()">
    <div> <!-- for css padding lergo-604 -->
        <div ng-show="!loaded">
            <div class="loading">
                <i class="fa fa-cog fa-spin"></i>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-1 col-xs-12"></div>
                <div class="col-md-10 col-xs-12">
		            <div class="homepage">
            <div class="container">
                <div class="row">
                    <div class="hidden-sm hidden-xs">
                        <div class="col-md-6 col-xs-12">
                            <div statistics-banner class="page-content-width">
                                <!-- how many lessons, and how many questions -->
                                <div class="article-header page-content-body">
                                    <div class="stats-wrapper">
                                        <div class="stats-lessons">
                                            <div class="amount">{{systemStats.lessonsCount-900}}</div>
                                            <div class="type">{{ 'homepage.lessons' | translate }}</div>
                                        </div>
                                        <div class="stats-questions">
                                            <div class="amount">{{systemStats.questionsCount}}</div>
                                            <div class="type">{{ 'homepage.questions' | translate }}</div>
                                        </div>
                                        <div>
                                            <div class="and-counting item">
                                                <span>{{ 'homepage.andCounting' | translate }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-xs-12">
                                    <div>
                                        <div create-your-own-box></div>
                                    </div>
                                </div>
                    </div>

                </div>
			</div>
            <div>
            <div lergo-filter model="lessonsFilter" on-change="loadLessons()" opts="lessonsFilterOpts" on-load="filterLoaded()"></div>
            </div>



              <div class="container">
                <div class="row fix">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-repeat="lesson in lessons ">
                         <div class="well well-sm">
							 <div class="age-limit age-limit-{{lesson.age}}">
                                    <div class="value">{{lesson.age}}+</div>
                                    <div class="units">
                                            <i class="fa fa-arrow-up"></i>
                                                {{'homepage.years'|translate}}
                                        </div>
                                </div>
                             <div class="thumbnail">
                                    <a href="#!/public/lessons/{{lesson._id}}/intro">
                                        <div lesson-title-image lesson="lesson"></div>
                                    </a>
                                    <div dir="auto" class="title">
                                        <a href="#!/public/lessons/{{lesson._id}}/intro">
                                            <span tooltip="{{lesson.name}}">{{ lesson.name|limitTo:40 }}</span>
                                            <span ng-show="lesson.name.length >40">...</span>
                                        </a>
                                    </div>
                                    <div class="stats">
                                        <table class="stats-table">
                                            <tr>
                                                <td>
                                                    <span tooltip="{{'homepage.tooltip.user' | translate}}">
                                                        <i class="fa fa-user fa-fw"></i>
                                                        {{lesson.user.username | limitTo: 8 | lowercase}}
                                                    </span>
                                                </td>
                                                <td>
                                                    <span tooltip="{{'homepage.tooltip.views' | translate}}">
                                                        <i class="fa fa-eye fa-fw"></i>
                                                        {{0+lesson.views}}
                                                    </span>
                                                </td>
                                                <td>
                                                    <span ng-show="hasQuestions(lesson)" tooltip="{{'homepage.tooltip.questions' | translate}}">
                                                        <i class="fa fa-question-circle fa-fw"></i>
                                                        {{lesson | countQuestionsOnLesson }}
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span tooltip="{{'lessons.createdOn' | translate}}">
                                                        <i class="fa fa-calendar"></i>
                                                        {{lesson | mongoIdToTimestamp | date:'d-MMM-yyyy'}}
                                                    </span>
                                                </td>
                                                <td colspan="2">
                                                    <span ng-show="!!lesson.subject" tooltip="{{'homepage.tooltip.subject' | translate}}">
                                                        <i class="fa fa-book fa-fw"></i>
                                                        {{lesson.subject && ('filters.subjects.' + lesson.subject | translate) | limitTo: 8 ||""}}
                                                    </span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                         </div>
					</div>
                </div>
			</div> <!-- end of container for lessons-->
                    </div>
                    <div class="col-md-1 col-xs-12"></div>
                </div>
            </div>

            <div lergo-paging page="filterPage" on-change="loadLessons()" on-load="pagingLoaded()"></div>
		</div>
    </div>
</div>
